
html, body {
  height: 50%;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
}
.container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 50vh;           
  margin: 0%;               
  padding: 2px;
 //border: 1px solid #ccc;
  width: 100%;              
  text-align: center;
  flex-direction: column;   
}
  
  .response {
    margin-top: 10px;
    font-weight: bold;
    color: green;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }